<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Votre réservation a bien été enregistrée.
        Nous vous contacterons dans les plus brefs délais</h1>
        <style>
            body{
                background-color: #ada76e;
                justify-content: center;
                align-items: center;
            }
            h1{
                margin-top: 50px;
                text-align: center;
                font-size: 20px;
            }
        </style>
</body>
</html>